Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/PackageCache/com.unity.textmeshpro@2.0.1/Documentation~/TextMeshPro.md.meta
Library/PackageCache/com.unity.textmeshpro@2.0.1/Documentation~/TextMeshPro.md
Library/PackageCache/com.unity.purchasing@2.0.6/Documentation~/IAP.md.meta
Library/PackageCache/com.unity.purchasing@2.0.6/Documentation~/IAP.md
Library/PackageCache/com.unity.collab-proxy@1.2.16/Documentation~/collab-proxy.md
Library/PackageCache/com.unity.analytics@3.3.2/Documentation~/analytics.md
.vs/Repos/v15/Server/sqlite3/storage.ide-wal
.vs/Repos/v15/Server/sqlite3/storage.ide-shm
.vs/Repos/v15/Server/sqlite3/storage.ide
.vs/Repos/v15/Server/sqlite3/db.lock
